---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <h2>Contact</h2>
    <p>
        Meer informatie kan je bekomen via een mail naar <a
            href="mailto:bestelling@seriouslogisticsgames.be"
            >bestelling@seriouslogisticsgames.be</a
        > of via <a href="tel:014562310">014&nbsp;56&nbsp;23&nbsp;10</a>.
    </p>
    <address>
        Thomas More Kempen VZW<br />Kleinhoefstraat 4<br />2440 Geel, België
    </address>
</Layout>
