---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <h2>Home</h2>
  <p>
    Serious Logistics Games stelt diverse logistieke business games en
    didactische leeromgevingen beschikbaar om leerlingen, cursisten en
    werknemers in de logistiek de nodige kennis en competenties te laten
    ontwikkelen. Dit zowel op tactisch als operationeel niveau.
  </p>
  <p>
    Via Serious Logistics Games komt de realiteit al een stuk tot in de
    instructieruimte.
  </p>
  <ul>
    <li>Verkennen en inhoudelijke kennis verwerven.</li>
    <li>Al doende leren.</li>
    <li>Tijdens de leeractiviteit je eerste ervaring opdoen.</li>
    <li>Testen en proberen in de nog veilige leer- en instructieomgeving.</li>
  </ul>
</Layout>
