---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
    <h2>JIT-Flight</h2>
    <p>
        Met het business game 'JIT-Flight' ga je op een speels educatieve manier
        aan de slag om een waardetoevoegend proces te verbeteren. Je maakt als
        medewerker zelf deel uit van dit proces. Na een eerste spelronde ga je
        op zoek naar de verbeterpunten (hoge voorraden, uitval, fouten,
        onzekerheid, stress, …). Vervolgens ga je aan de slag om het proces te
        optimaliseren volgens de JIT-filosofie (minimale voorraden, zero
        defects, minimale productuitval, verantwoordelijke medewerkers zonder
        stress en een coach die je ondersteunt bij problemen). De acties worden
        uitgetest in een volgende spelronde.
    </p>
    <h2>JIT-Flight werkt aan volgende competenties</h2>
    <ul>
        <li>Logistieke kennis</li><ul>
            <li>Wat is de doorlooptijd?</li><li>Waar zit de bottleneck?</li><li>
                Welk is onze leverbetrouwbaarheid?
            </li><li>JIT?</li>
        </ul><li>
            Meten en verwerken van de procestijden tot bruikbare resultaten.
        </li><li>Probleemdetectie en -analyse</li><ul>
            <li>Welke problemen doen zich voor?</li><li>
                Wat zijn de oorzaken?
            </li><li>Hoe voorkomen we de problemen?</li>
        </ul><li>Leidinggeven</li><ul>
            <li>Welke manier van leidinggeven geeft meer resultaat?</li>
        </ul><li>Communiceren en informeren</li><ul>
            <li>
                Wat is het belang van juiste informatie en degelijke
                communicatie?
            </li>
        </ul><li>Coachen</li><ul><li>Hoe coachen we de medewerkers?</li></ul>
    </ul>
    <h2>JIT-Flight Toolbox</h2>
    <p>
        De toolbox bevat alle benodigdheden om het business game JIT-flight te
        spelen.
    </p>
    <ul>
        <li>handleiding (aanpak, spelverloop, vragen en antwoorden)<br /></li>
        <li>benodigde speldocumenten</li>
        <li>werkpostfiches</li>
    </ul>
</Layout>
