---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import { Image } from "astro:assets";
import localImage from "../assets/mydc-1.jpg";
import localImage2 from "../assets/mydc-2.jpg";
---

<Layout>
    <div class="flex justify-between items-center">
        <h2>My DC</h2>
        <a href="http://www.seriouslogisticsgames.be/moodle/" class="btn"
            >Login</a
        >
    </div>
    <p>
        Deze educatieve leeromgeving wil de stap tussen theorie en praktijk
        verkleinen door een distributiecentrum tot in het leslokaal te brengen.
        Binnen het MyDC distributiecentrum maakt u kennis met de verschillende
        afdelingen en hun operationele processen. (orderbeheer - voorraadbeheer
        - locatiebeheer - orderpicking - verzending - opslag - goederenontvangst
        - aankoop)
    </p>
    <div class="lg:grid lg:grid-cols-2">
        <div>
            <h2>MyDC bestaat uit</h2>
            <h3>Digitale leeromgeving</h3>
            <ul>
                <li>
                    Je leert het distributiecentrum en haar processen kennen.
                    <ul>
                        <li>Wat is de plaats van de afdeling in MyDC?</li>
                        <li>Welke opdracht heeft deze afdeling?</li>
                        <li>
                            Wat zijn de taken van de werknemers op deze
                            afdeling?
                        </li>
                        <li>Hoe worden deze taken uitgevoerd?</li>
                    </ul>
                </li>
                <li>
                    Je toetst je kennis over deze processen.
                    <ul>
                        <li>Vragen en oefeningen</li>
                        <li>Feedback op het einde van de test</li>
                    </ul>
                    <li>
                        Kennismakingslessen (in de ruimte voor de leerkracht)
                    </li>
                </li>
                <h3>Realistische magazijnleeromgeving</h3>
                <ul>
                    <li>
                        Als medewerker op jouw afdeling maak je deel uit van het
                        MyDC distributiecentrum.
                    </li>
                    <li>
                        Je past de geleerde kennis toe in het distributiecentrum
                        MyDC.
                    </li>
                    <li>
                        Loopt alles in de verschillende afdelingen zoals het
                        hoort, dan zal de klant tijdig de juiste goederen
                        krijgen.
                    </li>
                    <li>
                        Wat als er iets fout loopt? Wat is de oorzaak? Hoe
                        lossen we dit op?
                    </li>
                </ul>
            </ul>
        </div>

        <div>
            <figure class="max-w-lg">
                <Image
                    class:list={"h-auto max-w-full w-full rounded-lg"}
                    src={localImage}
                    alt="A bird sitting on a nest of eggs."
                />
            </figure>
            <figure class="max-w-lg">
                <Image
                    class:list={"h-auto max-w-full w-full rounded-lg"}
                    src={localImage2}
                    alt="A bird sitting on a nest of eggs."
                />
            </figure>
        </div>
    </div>
</Layout>
