<footer
    class="footer sm:footer-horizontal footer-center bg-tm-blue text-white p-4"
>
    <aside>
        <p>
            Copyright © {new Date().getFullYear()} - Serious Logistics Games is
            een vormingsinitiatief van <a href=""
                >Graduaat transport en logistiek</a
            > en <a href="">Bachelor Sypply Chain Management</a>
        </p>
    </aside>
</footer>
